<div id="notificacion"></div>
<div  class="alert alert-success" style="display: flex; flex-direction: row; width: 100%; justify-content: space-between;">
  <div style="display: flex; flex-direction: row;"><img src='{{photo}}' alt="foto" class="img-fluid img-thumbnail" style ="height: 40px; border-radius: 25px; margin-right: 10px;"/><h4>Bienvenido {{username}}  </h4></div>
  <div>
    <a class="btn btn-dark" href="/logout"><span class="fa fa-sign-out"></span><span>Desloguear</span></a>
    {{!-- <button id="logout" onclick="logout('{{user}}')" class="btn btn-dark">Desloguear</button> --}}
  </div>
</div>
<div style="display: flex; flex-direction: row;">
  
  
  <div style="width: 300px; margin-right: 100px;" >
    <fieldset>
      <form onsubmit="addProduct('{{user}}'); return false" style="margin: 20px;" >
        <h4 style="color: #0000ff; font-weight: bold; padding-bottom: 20px;">Ingrese
          el Producto</h4>
        <div class="form-group">
          <label for="title" style="font-weight: bold;">Title</label>
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Enter Title"
            class="form-control"
            required
          />

        </div>
        <div class="form-group">
          <label for="price" style="font-weight: bold;">Price</label>
          <input
            type="number"
            name="price"
            class="form-control"
            id="price"
            required
          />

        </div>
        <div class="form-group">
          <label for="thumbnail" style="font-weight: bold;">Thumbnail Link</label>
          <input
            type="text"
            name="thumbnail"
            id="thumbnail"
            placeholder="Enter Thumbnail Link"
            class="form-control"
            required
          />

        </div>
        <div>
          <button id="send" type="submit" class="btn btn-success">Guardar</button>
        </div>

      </form>
    </fieldset>
    <div style="margin: 20px;">
      {{! <h4 style="color: blue; font-weight: bold;">Vista de Productos</h4> }}
      {{!-- {{#if exist}} --}}
        <table class="table table-dark">
          <thead>
            <tr>
              <th style="width: 50%;">Nombre</th>
              <th style="width: 30%;">Precio</th>
              <th style="width: 20%;">Foto</th>
            </tr>
          </thead>
          <tbody id="contenido">

          </tbody>
          
          {{!-- {{#each data}} --}}
            {{!-- <tr style="height: 50px;">
              <td>{{this.title}}</td>
              <td>${{this.price}}</td>
              <td><img
                  src={{this.thumbnail}}
                  alt="foto"
                  class="img-fluid img-thumbnail"
                /></td>
            </tr> --}}
          {{!-- {{/each}} --}}

        </table>
        <div id="error-productos"></div>
      {{!-- {{else}} --}}
        {{!-- <div class="alert alert-warning">
          No hay productos
        </div>
      {{/if}} --}}
    </div>

  </div>
  <div style="width: 500px; margin: 20px; background-color: rgb(207, 207, 207);">
    <div style="padding: 10px; margin: 20px;">
      <h4 style="color: #0000ff; font-weight: bold; ">Centro de Mensajes</h4>
      <h5 style="color: #0000ff; font-weight: bold; " id="compresion"></h5>

      <fieldset>
        <form onsubmit="addMessage('{{user}}'); return false">
          <div class="form-group">
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Enter email"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="nombre"
              id="nombre"
              placeholder="Enter name"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="apellido"
              id="apellido"
              placeholder="Enter last name"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="number"
              name="edad"
              id="edad"
              placeholder="Enter age"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="alias"
              id="alias"
              placeholder="Enter nickname"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="avatar"
              id="avatar"
              placeholder="Enter url avatar"
              class="form-control"
              required
            />
          </div>
          <div style="background-color: beige;" id="messages"></div>
          
          <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 20px;">
            <div style="margin-right: 20px; width: 80%;">
              <input
                type="text"
                name="message"
                id="message"
                placeholder="Enter message"
                class="form-control"
                required
              />
            </div>
              <button type="submit" id="send" class="btn btn-primary">Enviar</button>
            </div>
        </form>
      </fieldset>
      

    </div>
  </div>
</div>
<script>
  //console.log(user)
  const socket = io();
  socket.on("errores", (error)=> {
    console.log(error);
    const inner = `<div class="alert alert-danger style="width: 100px">${error.error}</div>`;
    document.getElementById('notificacion').innerHTML=inner;
  })
  
  socket.on('messageBackend',(data)=>{ 
    traerMensajes();
  }) 
  socket.on("notificacionBack", ()=> {
    traerProductos();
    const inner = `<div class="alert alert-success" style="width: 100px">Producto Ingresado correctamente</div>`;
    document.getElementById('notificacion').innerHTML=inner;
  })
  socket.on("dataBackend", ()=> {
    traerProductos();
  })
  function traerProductos() {
    fetch('http://localhost:8080/productos')
    .then(res => res.json())
    .then(datos => {
      tabla(datos);
    })
  }
  function traerMensajes() {
    fetch('http://localhost:8080/mensajes',{
      method: "GET"
    })
    .then(res => res.json())
    .then(datos => {
      const user = new normalizr.schema.Entity("users");
      const comment = new normalizr.schema.Entity("comments", {
        commenter: user,
      });
      const article = new normalizr.schema.Entity('articles', {
        comments: [comment]
      });
      const newDatos = normalizr.denormalize(datos.dataNormalize.entities, article, datos.dataNormalize.result)
      console.log(newDatos)
      drawMessages(newDatos.articles.mensajes, JSON.stringify(newDatos).length, datos.dataBits)
    })
  }
  function drawMessages(datos, compresion, original) {
    let inner = '';
    for (let message of datos.messages) {
      inner+=`<div><strong style="color: blue;">${message.author.id}</strong> [<i style="color: rgb(238, 84, 84)">${message.date}</i>] : ${message.text} <img
              src=${message.author.avatar}
              alt="foto"
              class="img-fluid img-thumbnail"
              style ="height: 40px; border-radius: 25px;"
          /></div>`
    }
    console.log('original: ', original, 'compresion: ', compresion)
    const total=Math.round((((original-compresion)*100/original)*100)/100);
    const porcentaje = `Compresion: ${total}%`;
    document.getElementById('compresion').innerHTML=porcentaje;
    document.getElementById('messages').innerHTML=inner;
  }
  function tabla(datos) {
    let inner = '';
    if (!datos.error) {
      for (let product of datos.products) {
      inner += `
        <tr style="height: 50px;">
          <td>${product.title}</td>
          <td>$${product.price}</td>
          <td><img
              src=${product.thumbnail}
              alt="foto"
              class="img-fluid img-thumbnail"
          /></td>
        </tr>
        `
      }
      document.getElementById('contenido').innerHTML=inner;
    } else {
      inner += `<div class="alert alert-warning">No hay productos</div>`
      document.getElementById('error-productos').innerHTML=inner;
    }
    
  }
  traerProductos()
  traerMensajes()
  function addMessage(user){ 
    //if (!admin) {
      //logout(user);
    //}else {

      document.getElementById('notificacion').innerHTML='';
      const email = document.getElementById('email').value;
      document.getElementById('email').value='';
      const message = document.getElementById('message').value;
      document.getElementById('message').value='';
      const nombre = document.getElementById('nombre').value;
      document.getElementById('nombre').value='';
      const apellido = document.getElementById('apellido').value;
      document.getElementById('apellido').value='';
      const edad = document.getElementById('edad').value;
      document.getElementById('edad').value='';
      const alias = document.getElementById('alias').value;
      document.getElementById('alias').value='';
      const avatar = document.getElementById('avatar').value;
      document.getElementById('avatar').value='';
      socket.emit('messageFront',{ author: {id:email, nombre,apellido,edad,alias,avatar}, message });
      traerMensajes();
    //}
  } 
  function addProduct(user) { 
    //if (!admin) {
    //  logout(user);
    //} else {
        const title = document.getElementById('title').value; 
        document.getElementById('title').value=''; 
        const price = document.getElementById('price').value; 
        document.getElementById('price').value='';
        const thumbnail = document.getElementById('thumbnail').value; 
        document.getElementById('thumbnail').value='';  
        socket.emit('dataFront',{ 
          title,
          price, 
          thumbnail,
          description: 'no description',
          code: 'no code',
          stock: 1
        });
        traerProductos(); 
    //}
  }
  /*function logout(user) {
    console.log(user);
    socket.emit("logout", {user});
  }
  socket.on('logout', data=>{
    window.location.replace('/logout')
  })*/
</script>