<div class="container my-5">
  <div class="container my-5">
    <div class="jumbotron">
      <h1>Info</h1>
      <br />
      <h5>Argumentos de entrada: </h5>
      <p>{{argIn}}</p>
      <h5>Sistema Operativo: </h5>
      <p>{{plataforma}}</p>
      <h5>Version de Node.js: </h5>
      <p>{{version}}</p>
      <h5>Memoria reservada: </h5>
      <p>{{memoria}} KB</p>
      <h5>Numero de procesadores: </h5>
      <p>{{nCpus}}</p>
      <h5>Path de ejecución: </h5>
      <p>{{pathExec}}</p>
      <h5>Process Id: </h5>
      <p>{{pid}}</p>
      <h5>Carpeta del proyecto: </h5>
      <p>{{carpeta}}</p>
    </div>
  </div>
</div>